*{
  font-family: "inter";
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px 16px 120px;
  gap: 24px;
}
ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 32px;
  padding: 0;
  margin: 0;
}
li{
 font-size: 16px;
 font-weight: 500;
 line-height: 152%;
}
li a{
  text-decoration: none;
  color: black;
}
li a:hover{
  color: #2ecc71;
}
/* common button  */

.btn{
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 600;
  gap: 32px;
  cursor: pointer;
}
.btn:hover{
  background-color: #2ecc71;
}

