* {
  margin: 0;
  padding: 0;
  font-family: "inter";
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px 16px 120px;
  gap: 24px;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 32px;
  padding: 0;
  margin: 0;
}

li {
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #2ecc71;
}

/* common button  */

.btn {
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 600;
  gap: 32px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2ecc71;
}


main {
  background: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1260px;
}
#main-container{
  text-align: center;
  padding: 0 120px;
}

.access {
  display: flex;
  justify-content: center;
  
}


.access button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin-top: 90px;
  color: #469165;
  background-color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 100px;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


#main-container {
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
  margin-top: 16px;
}

.banner h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 82px;
  color: white;
  opacity: 90%;
  margin-top: 16px;
}

.banner span {
  color: #30B868;
}

.banner p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: white;
  text-align: center;
  align-items: center;
}

.banner-btn{
  margin-top: 32px;
  display: inline-flex;
  justify-content: center;
  gap: 16px;
}
.banner-btn button{
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 5px;
}
#see-through{
  border: 1px solid white;
  background: transparent;
}
#see-through:hover{
   background-color: #2ecc71;
}


#note-section{
  padding: 0 120px 120px 120px;
  max-width: 1200px;
  
}

.notes{
  text-align: center;
}
.notes h2{
  font-size: 48px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 16px;
  color: #001931;
}
.notes p{
  color: #627382;
  font-size: 15px;
  font-weight: 250;
  line-height: 20px;
  margin-bottom: 44px;
}
.note-card{
  display: flex;
  gap: 24px;
  width: 1000px;
  height: 300px;
  box-sizing: border-box;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #F95555;
  margin-top: 32px;
}
.icon img{
  width: 32px;
  height: 32px;
}
.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px;
  width: 400px;
  height: 250px;
  gap: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #00000010;
}
.cards h3{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #001931;
}
.cards p{
 text-align: center;
 font-size: 14px;
 font-weight: 250;
 color: #627382;
 line-height: 20px;
 
}





